<!DOCTYPE html>
<html>
<head>
	<title>ホーム</title>
</head>
<body>
  <h1>Users</h1>

  <table>
  	<thead>
  		<tr>
  			<th>image</th>
  			<th>name</th>
  			<th></th>
  		</tr>
    </thead>
  	<tbody>
  		

  	</tbody>
  </table>

  </body>
</html>